
 <% meta title: "Add Admin | Gofixam" %>

<div class="admin_wrapper">

		<div class="admin-header">
			<%=render 'bookings/navbar' %>
		</div>


		<div class="container">
<h2 class='form-inputs'><%= t "devise.invitations.new.header" %></h2>

<%= simple_form_for resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post} do |f| %>
  <div class="form-inputs">
  	<%if alert.present? || notice.present?%>
	  	<div class="alert alert-danger">
	  		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	  		<%= alert %> <%= notice %>
		</div>
	<%end%>


<% resource.class.invite_key_fields.each do |field| -%>
  <%= f.input field  %>
<% end -%>

<%= f.button :submit, t("devise.invitations.new.submit_button") ,class:'btn btn-primary'%>
<% end %>

</div>
</div>
</div>


<%=render "shared/footer_scroll2"%>