<div class="container">
<nav  class="navbar navbar-inverse" role="navigation">
  
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <%= image_tag('GOFIX.png', class:'img-responsive', width:'400px', height:'300px')%>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">HOME</a></li>
      <li><%= link_to "ADD ADMIN", new_admin_invitation_path  %></li>
      <li><a href="#">COMMENTS</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to  destroy_admin_session_path do %>
              <span class="glyphicon glyphicon-log-out"></span>
               Logout(<%= current_admin.email%>)
          <%end%>
      </li>
    </ul>
    </div>
</nav>
<div class="row">
<div class="custom-widgets">
   <div class="row-one">
    <div class="col-sm-6 col-md-4 col-lg-3 ">
      <div class="stats-left ">
        <h5>Total</h5>
        <h5> Users</h5>
      </div>
      <div class="stats-right">
        <label>0</label>
      </div>
      <div class="clearfix"> </div> 
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 ">
      <div class="stats-left">
        <h5>Total</h5>
        <h5>Requests</h5>
      </div>
      <div class="stats-right">
        <label> 0</label>
      </div>
      <div class="clearfix"> </div> 
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 ">
      <div class="stats-left">
        <h5>Total Devices</h5>
        <h5>Fixed</h5>
      </div>
      <div class="stats-right">
        <label>0</label>
      </div>
      <div class="clearfix"> </div> 
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 ">
      <div class="stats-left">
        <h5>Total</h5>
        <h5>Pending</h5>
      </div>
      <div class="stats-right">
        <label>0</label>
      </div>
      <div class="clearfix"> </div> 
    </div>
    <div class="clearfix"> </div> 
  </div>
</div>
</div>
<div class="graph-visual tables-main">
  <div class="ribbon-one graph">
        <div class="ribbon left_ribbon">
          <h3>Latest Bookings</h3>
          </div>
    <div class="graph">
        <div class="tables">        
          <table class="table table-hover"> 
            <thead>
             <tr>
              <th>#</th> <th>Firstname</th> <th>Lastnme</th> <th>Phone No</th><th>Address</th> <th>Status</th>
             </tr> 
            </thead> 
            <tbody>
              <% @users.each do |user| %>
             <tr> <th scope="row"><%= user.id %></th> <td><%= user.first_name %></td> <td><%= user.last_name %></td> <td><%= user.phone_number %></td><td>home address</td><td>Fixed</td> </tr> 
             <% end %>
              </tbody> 
           </table>
        </div>
    </div>
  </div>
<div class="row">
<div class="col-sm-6 col-md-4 col-lg-6 ">
                  <table class="table">
                    <thead>
                       <tr class="table-row">
                        <td>
                      <div class="ribbon left_ribbon">
                        <h3>Feedbacks</h3>
                      </div>
                    </td>
                      </tr>
                    </thead>
                    <tbody>
                        <tr class="table-row">
                            <td class="table-img">
                                <%= image_tag('chris2.jpg', class:'img-rounded', width:'100px', height:'5%')%>
                            </td>
                            <td class="table-text">
                              <h6> Larryhommie@hotmail.com</h6>
                                <p>Nullam quis risus eget urna mollis ornare vel eu leo</p>
                            </td>
                          
                            <td class="march">
                              <h6>5 hours ago</h6> 
                            </td>
                        </tr>                    
                        <tr class="table-row">
                            <td class="table-img">
                              <%= image_tag avatar_url('ryan@railscasts.com'), class:'img-rounded' %>                             
                            </td>
                            <td class="table-text">
                              <h6> Emeka Ahamba@gmail.com</h6>
                                <p>Nullam quis risus eget urna mollis ornare vel eu leo</p>
                            </td>
                            
                            <td class="march">
                                <h6>4 days ago</h6>
                            </td>  
                        </tr>
                        <tr class="table-row">
                            <td class="table-img">
                               <img src="images/in5.jpg" alt="" />
                            </td>
                            <td class="table-text">
                              <h5> EdmundHeady@ymail.com</h5>
                                <p>Nullam quis risus eget urna mollis ornare vel eu leo</p>
                            </td>
                            
                            <td class="march">
                               <h6>3 days ago</h6> 
                            </td>
                        </tr>
                        <tr class="table-row">
                            <td class="table-img">
                               <img src="images/in6.jpg" alt="" />
                            </td>
                            <td class="table-text">
                              <h5> Sam Uduma</h5>
                                <p>Nullam quis risus eget urna mollis ornare vel eu leo</p>
                            </td>
                          
                            <td class="march">
                               <h6>2 days ago</h6> 
                            </td>
                          
                        </tr>
                        <tr class="table-row">
                            <td class="table-img">
                               <img src="images/in7.jpg" alt="" />
                            </td>
                            <td class="table-text">
                              <h5> Mudi Kachi</h5>
                                <p>Nullam quis risus eget urna mollis ornare vel eu leo</p>
                            </td>
                            <td class="march">
                                 <h6>2 days ago</h6>
                            </td>                             
                        </tr>
            <tr class="table-row">
                            <td class="table-img">
                               <img src="images/in8.jpg" alt="" />
                            </td>
                            <td class="table-text">
                              <h5> Joy Achi</h5>
                                <p>Nullam quis risus eget urna mollis ornare vel eu leo</p>
                            </td>                            
                            <td class="march">
                               <h6>2 days ago</h6>
                            </td>                         
                        </tr>
                    </tbody>
                </table>
              </div>

          <div class="col-md-8 col-lg-6 tab-content tab-content-in">
                    <div class="inbox-right">                                  
                    <div class="mailbox-content">
                          <!--Compose New Message -->
                      <div class="compose-mail-box">
                          <div class="compose-bg">
                            Compose New Message 
                          </div>
                              <div class="panel-body">
                                  <div class="alert alert-info">
                                    <h5>Please fill details to send a new message</h5>
                                  </div>
                                  <%= simple_form_for :admins , url:admins_path, validate:true do |f| %>
                                   <%= f.error_notification %>
                                    <%= f.input :email , as: :email, class:"form-control1 control3" , placeholder:"To" %>
                                    <%= f.input :subject , class:"form-control1 control3" , placeholder:"Subject" %>
                                    <%= f.input :Message , class:"form-control1 control2" ,placeholder:"Message" ,  as: :text  , input_html:{ rows: '10' }%>
                                     <%= f.button :submit, "Send Message" , class:'btn btn-primary' %>
                                  <%end%>
                              </div>
                            </div>
                          <!--//Compose New Message -->
                           </div>
                        </div>
                      </div>
                      <div class="clearfix"> </div>
                   </div>
                </div>
            </div>


              