<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @partner.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @partner.last_name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @partner.gender %>
</p>

<p>
  <strong>State:</strong>
  <%= @partner.state %>
</p>

<p>
  <strong>City:</strong>
  <%= @partner.city %>
</p>

<p>
  <strong>Office location:</strong>
  <%= @partner.office_location %>
</p>

<p>
  <strong>Specializations:</strong>
  <%= @partner.specializations %>
</p>

<%= link_to 'Edit', edit_partner_path(@partner) %> |
<%= link_to 'Back', partners_path %>
