
<div class="admin_wrapper">

    <div class="admin-header">
      <%=render 'bookings/navbar' %>
    </div>

<div class="container">

              <table class='table table-striped edit_order' >

              <tr>
                  <th colspan="2"><b>Details of <%= @partner.first_name.humanize %> <%= @partner.last_name.humanize %></b></th>
                </tr>
                
              
                <tr>
                  <th>First Name:</th> <td><%= @partner.first_name.humanize %></td>
                </tr>
                <tr>
                  <th>Last Name:</th> <td><%= @partner.last_name.humanize %></td>
                </tr>
                <tr>
                  <th>Gender:</th> <td><%= @partner.gender %></td>
                </tr>
                <tr>
                  <th>State:</th> <td><%= @partner.state %></td>
                </tr>

                <tr>
                  <th>City:</th> <td><%= @partner.city %></td>
                </tr>

                <tr>
                  <th>Office location:</th> <td><%= @partner.office_location %></td>
                </tr>

                <tr>
                  <th>Areas of Specialization:</th> <td><%= @partner.specializations %></td>
                </tr>
                
              


              </table>


<%= link_to 'Edit', edit_partner_path(@partner) %> |
<%= link_to 'Back', partners_path %>


</div>
</div>