<% provide(:title, 'LOGIN')%>
  <div class="login_wrapper">
  <div class="logo_icon">
<%=link_to  home_index_path do  %>
  <%=image_tag 'gopng.png', class:"img-thumbnail",id:"nav-icon",alt:'fb-login'%>
<%end%>
</div>



<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name),:html=>{class:"form-signin"}) do |f| %>

<%= render "header_settings" %>

<%= f.error_notification %>

  <div class="form-inputs">

        <div id='fblogo'>

        <%- if devise_mapping.omniauthable? %>
      <%- resource_class.omniauth_providers.each do |provider| %>
        <%= link_to omniauth_authorize_path(resource_name, provider) do %>
          <%=image_tag 'login.png'%>
        <%end%>
      <% end -%>
    <% end -%>
      </div>

      <h4 class='or' >OR</h4>

    <%= f.input :email, required: true,placeholder:"you@example.com" %>
    <%= f.input :password, required: true,placeholder:"********" %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in",class:"btn btn-lg btn-primary btn-block" %>
  </div>
<% end %>

</div>


<div class="devise_login_links">
  <%= render "devise/shared/links" %>
  </div>
</div>


<%= render 'shared/footer_scroll2'%>



