<% provide(:title, 'Login | Gofixam')%>

<script type="text/javascript">
    jQuery ->
  $('body').prepend('<div id="fb-root"></div>')

  $.ajax
    url: "#{window.location.protocol}//connect.facebook.net/en_US/all.js"
    dataType: 'script'
    cache: true


window.fbAsyncInit = ->
  FB.init(appId: '<%= ENV["facebook_app_id"] %>', cookie: true)

  $('#sign_in').click (e) ->
    e.preventDefault()
    FB.login (response) ->
      window.location = '/auth/facebook/callback' if response.authResponse

  $('#sign_out').click (e) ->
    FB.getLoginStatus (response) ->
      FB.logout() if response.authResponse
    true

</script>


  <div class="login_wrapper">
  <div class="logo_icon">
<%=link_to  home_index_path do  %>
  <%=image_tag 'gopng.png', class:"img-thumbnail",id:"nav-icon",alt:'gofixam-logo'%>
<%end%>
</div>



<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name),:html=>{class:"form-signin"}) do |f| %>

<%= render "header_settings" %>

<%= f.error_notification %>

  <div class="form-inputs">

        <div id='fblogo'>

        <%- if devise_mapping.omniauthable? %>
      <%- resource_class.omniauth_providers.each do |provider| %>
        <%= link_to omniauth_authorize_path(resource_name, provider),id:'sign_in' do %>
          <%=image_tag 'login.png',alt:'fb-login'%>
        <%end%>
      <% end -%>
    <% end -%>
      </div>

      <h4 class='or' >OR</h4>

    <%= f.input :email, required: true,placeholder:"you@example.com" %>
    <%= f.input :password, required: true,placeholder:"********" %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in",class:"btn btn-lg btn-primary btn-block" %>
  </div>
<% end %>

</div>


<div class="devise_login_links">
  <%= render "devise/shared/links" %>
  </div>
</div>


<%= render 'shared/footer_scroll2'%>



