<div class="action_status">
<%= form_for :order, url:booking_path(@booking), method: :patch  do|f| %>

	<div class="form-group">
	<div class="calendar">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control"/>
                    <%= f.hidden_field :pickupdate %>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
    </div>


    <div class="repair_cost">
                    &#8358; <%= f.number_field :repair_cost,placeholder:'Repair Cost' %>
    </div>


    <% if @booking.order_status=="pending" %>
						<%= f.select(:order_status, options_for_select([
			         ['Schedule', 'scheduled'],
			         ['Cancel', 'cancelled']],@booking.order_status || default_value),
			        class: "form-control") %>

			       	<%= f.submit "Update",class: "btn btn-info",id:'submit_bts' %>
			        <%= link_to "BACK", bookings_path, class: "btn", data: {dismiss: "modal"} %>


 	<% elsif @booking.order_status=="scheduled" %>
 					<%= f.select(:order_status, options_for_select([
			         ['Picked up', 'pickedup'],
			         ['Reschedule', 'scheduled'],
			         ['Cancel', 'cancelled']],@booking.order_status || default_value),
			        class: "form-control") %>

			        <%= f.submit "Update",class: "btn btn-info",id:'submit_bts' %>
			        <%= link_to "BACK", scheduled_bookings_path, class: "btn", data: {dismiss: "modal"} %>


	<% elsif @booking.order_status=="pickedup" %>
 					<%= f.select(:order_status, options_for_select([
			         ['Delivered', 'delivered'],
			         ['Cancel', 'cancelled']],@booking.order_status || default_value),
			        class: "form-control") %>

			        <%= f.submit "Update",class: "btn btn-info",id:'submit_bts' %>
			        <%= link_to "BACK", pickedup_bookings_path, class: "btn", data: {dismiss: "modal"} %>



		<% elsif @booking.order_status=="delivered" %>

			        <%= link_to "BACK", delivered_bookings_path, class: "btn", data: {dismiss: "modal"} %>



	<% end -%>



<% end -%>
</div>
</div>
