<% provide(:title, 'STATES')%>
<div class="admin_wrapper">

    <div class="admin-header">
      <%=render 'bookings/navbar' %>
    </div>

  <div class="container">
<table class='table table-striped'>
  <thead>
    <tr>
      <th><h3>States</h3></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @states.each do |state| %>
      <tr>
        <td><%= state.state %></td>
        <td><%= link_to 'Add City', state %></td>
        <td><%= link_to 'Edit', edit_state_path(state) %></td>
        <td><%= link_to 'Delete', state, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '+Add New State', new_state_path %>


</div>
</div>


<%=render "shared/footer_scroll"%>