<% provide(:title, 'View State | Gofixam')%>
<div class="admin_wrapper">

    <div class="admin-header">
      <%=render 'bookings/navbar' %>
    </div>

  <div class="container">



<h1>Cities in <%= @state.state %></h1>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>Cities</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= city.city %></td>
        <td><%= link_to 'Add Area', city %></td>
        <td><%= link_to 'Edit', edit_city_path(city) %></td>
        <td>
        	<%= link_to 'Delete City', city,method: :delete,data: { confirm: 'Are you sure?' } %>

        </td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>







<h2>Add a city:</h2>

<i>Note:Seperate words with hypen(s) [-] e.g Aladinma-Estate-Gate</i>

<%= form_for([@state, @state.cities.build]) do |f|
%>
<p>
<%= f.label :city %><br />
<%= f.text_field :city %>
</p>
<p>
<%= f.submit %>
</p>
<% end %>

<%= link_to 'Edit', edit_state_path(@state) %> |
<%= link_to 'Back', states_path %>




</div>
</div>

<%=render "shared/footer_scroll"%>