

<%=form_tag(first_form_orders_path,remote:'true' ,class:'first_form') do %>


<p class="location_service">Choose your location & Service</p>
<p>
<%=collection_select :state,:id,State.order(:state),:state, :state,include_blank: "Select State", required:true %>
</p>
<p>
<%=grouped_collection_select :city, :id, State.order(:state),:cities,:state,:city,:city,include_blank: "Select City" %>
</p> 

<p>
<%=grouped_collection_select :area, :id, City.order(:city),:areas,:city,:area,:area,include_blank: "Select Area" %>
</p>


<p>
<%=grouped_collection_select :place, :id, Area.order(:area),:places,:area,:place,:place,include_blank: "Select Place" %>
</p> 


<p style='display:none'>
<%= text_field_tag(:address,"",placeholder:"Pickup Street Address",class: "form-control",id:'address_street')%>

<p>

 <%= submit_tag("Next",class:'next_submit') %><%=image_tag 'ajax2.gif', class:"ajax2",alt:'loading'%>
</p>

<% end %>



<%=form_tag(second_form_orders_path,remote:'true' ,class:'second_form') do %>
<div class="row">
  <div class="col-sm-6">
<div class="form-group">

 <%= select_tag(:device_type, options_for_select([
 	['Select Device Type', ''],
 	['Television', 'Television'],
 	['Radio', 'Radio'],
	['Laptop', 'Laptop'],
	['Electri Oven', 'Electric Oven'],
	['Electric Fan', 'Electric Fan'],
	['Electric Iron', 'Electric Iron'],
	['Electric Cooker', 'Electric Cooker'],
	['Mobile Phone', 'Mobile Phone'],
	['Air Conditioner', 'Air Conditioner'],
	['Others', 'Others']
    ]) ,id:'device_type',class: "form-control",style:'width:100% !important')
 %>

<div class="input-group" id='device_type2_div2' style="display:none">
 <%= text_field_tag(:device_type,"",id:'device_type2',placeholder:"Enter Device Type",class: "form-control")
  %><span class="input-group-addon" ><span class="glyphicon glyphicon-remove" id='change_field2'></span></span>
</div>



</div>
</div>
<div class="col-sm-6">
<div class="form-group">
<%= text_field_tag(:device_model,"",id:'device_model',placeholder:"Enter Device Model",class: "form-control") %>
</div>
</div>
</div>

<div class="form-group"><%= text_area_tag(:device_problem,"",id:'device_problem',placeholder:"Enter Device Problem",class: "form-control") %></div>
<div class="form-group">
<button type='button' class='previous' position='second_form'>Previous</button> <%= submit_tag("Next",class:'next_submit') %> <%=image_tag 'ajax2.gif', class:"ajax2",alt:'loading'%>
</div>
<% end %>


<div class="information_div">

<h4 style="border-bottom:1px dotted #eeeeee;font-size:25px !important">Information</h4>

<div>


</div>
<% if user_signed_in? %>

<%=form_tag(user_session_path ,class:'third_form') do %>

<p><button type='button' class='previous' position='third_form'>Previous</button> <%= submit_tag("Save") %></p>

<%end%>

<%else%>

<%=form_tag(third_form_orders_path,remote:'true' ,class:'third_form') do %>

<p><button type='button' class='previous' position='third_form'>Previous</button> <%= submit_tag("Submit",class:'next_submit') %> <%=image_tag 'ajax2.gif', class:"ajax2",alt:'loading'%></p>

<%end%>

<%end%>

</div>



<%=form_tag(fourth_form_orders_path,remote:'true' ,class:'fourth_form') do %>

<div class="please_complete">Please complete your booking by either logging in or signing up!</div>

<p>

<div class="row">
    <div class="col-sm-6">
<%=link_to "Already a user?",user_session_path,class:'login_complete' %>
</div>

<div class="col-sm-6">
<%=link_to "New User?", new_user_registration_path,class:'sign_up_complete' %>
</div>
</div>

    <div>
<button type='button' class='previous' >Previous</button>
</div>



</p>
<% end %>





