<%
  meta title: "Book any Gadget Repair | Phones | Laptops | TVs |  ",
  description: "We fix and repair all electronic devices ranging from laptops,TVs,sound systems,mobile phones,etc, we collect,we fix, we deliver",
  keywords:     %w(Mobile phone repair,Repair Laptop,Repair Phones, Gadget Repair, Tv Repair ,fix my gadget, Cell phone repair, Smartphone repair, Mobile repair shops, Laptop repair center, Tablet service center, Tablet repair shop, Mobile phone service, Tablet service, Laptop service, LCD screen repair, Mobile screen repair, Touchscreen repair, nokia service center, lenovo service center, toshiba service center, asus service center, Repair shop in owerri, Repair my tv,fix my laptops,fix my phone )

%>

<%
meta og: {
  image: "http://www.gofixam.com/assets/gopng-c18559dbc974b61811990cae7a09b291d08ff9b05821c4ab957721cdc146822d.png",
  url: "http://www.gofixam.com"
}
%>


<div id="container">
<% provide(:title, 'Book any Gadget Repair | Phone | Laptop | TVs |... ')%>

<div id="fb-root"></div>

  <!-- Your like button code -->

<% render_content="<div class='popover_wrapper_home'>
  <div> <a href='/account/info'><i class='glyphicon glyphicon-user'></i> My Profile</a> </div>
  <div> <a href='/orders'><i class='glyphicon glyphicon-list'></i> My Orders</a> </div>
  <div><a href='/users/logout'><i class='glyphicon glyphicon-log-out'></i> Log Out </a> </div>
  </div>

  </div>" %>

<div id='body'>

<div class='wrapper'>
<nav class="navbar navbar-default navbar-static-top" id='navigatn' >
<div class='credentials'>

<% if user_signed_in? %>


  <span data-toggle="popover" data-placement="bottom" 
  data-content="<%=render_content%>" id='popover2' >
    <i class='glyphicon glyphicon-user' style="color:<%=current_user.profile_icon%> !important" ></i> <span class='logout_welcome'>Hello <%= current_user.first_name %></span>

  </span>


  <%else%>

  <%=link_to user_session_path do  %>
<span class="glyphicon glyphicon-log-in"></span> Log in
<%end%>

<%=link_to new_user_registration_path do  %>
<span class="glyphicon glyphicon-user"></span> Register
<%end%>

<% end -%>




</div>
  <div class="container" id='section_content'>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>

<%=link_to  root_path do  %>
  <%=image_tag 'gopng.png', class:"img-thumbnail",id:"nav-icon",alt:'gofixam-logo'%>
<%end%>
    

    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
        <li><a href="#" class="scroll-top2"><span class="glyphicon glyphicon-home"></span> Home</a></li>
        <li><a href="#plan_divider"><span class="glyphicon glyphicon-list"></span> Our Plans</a></li>
        <li><a href="#track_divider"><span class="glyphicon glyphicon-map-marker"></span> Track</a></li>
        <li><a href="#contact_divider"><span class="glyphicon glyphicon-earphone"></span> Contact</a></li>
        </ul>
    </div>
  </div>
</nav>



  <div class="jumbotron" id='jumbotron-index'>
<div class="row">
<div class="container">
    <div class="col-sm-6">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
    <li data-target="#myCarousel" data-slide-to="5"></li>
    <li data-target="#myCarousel" data-slide-to="6"></li>
    
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox" style="background-color:#66b3ff">
    <div class="item active">
      <%=image_tag 'go.jpg', alt:'slider1'%>
      <div class="carousel-caption">
        <p>Go fix am jaree...</p>
      </div>
    </div>

    <div class="item">
      <%=image_tag '22.png', alt:'slider1'%>
    </div>

    <div class="item">
      <%=image_tag '33.png', alt:'slider1'%>
    </div>

    <div class="item">
      <%=image_tag '44.png', alt:'slider1'%>
    </div>

    <div class="item">
      <%=image_tag '55.png', alt:'slider1'%>
    </div>

    <div class="item">
     <%=image_tag '66.png', alt:'slider1'%>
    </div>

    <div class="item">
      <%=image_tag 'KK.png', alt:'slider1'%>
    </div>

  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>

<div class="col-sm-6">


      <div class='book_form'>
      <div class='easy_to_use'><span>Go Ahead. Book Now!</span></div>
      <div class='easy_to_use2'>Easy To Use & Reliable.</div>
      
      
<div class="container">
    <%= render "forms" %>
</div>

      </div>
</div>
</div>

  </div>
  </div>


    <div class="container" id='section_content3'>

  <div class="row" >
    <div class="col-sm-12">
      <h2 class='sect1' >Introducing the four step process</h2>

    </div>
  </div>
</div>

  <div class="container" id='section_content2'>

  <div class="row" >
    <div class="col-sm-3" >
      <h3>1.Register your device</h3>
      <p>
      <ul>
      <li>
      You can create an account and register all your device with us (Free Lite Plan for signing up).
      </li>
      </ul>
      </p>
    </div>

      <div class="col-sm-3">
      <h3>2.Schedule a Pickup</h3>
      <p><ul>
      <li>
      You can schedule a pickup, schedule an onsite visit or schedule an online support.</li></ul>
      </p>
    </div>

    <div class="col-sm-3">
      <h3>3.Repair & Services</h3>
      <p><ul><li>
       Devices are repaired in our state of art repair factory under the supervision of trained experts.</li></ul>
      </p>

    </div>

    <div class="col-sm-3">
      <h3>4.Delivery & Payment</h3> 
      <p><ul><li>
       You can avail our easy pay prepaid or postpaid options and take delivery of the device.
       </li></ul>
      </p>
    </div>
    <div class="divider" id="plan_divider"></div>
  </div>

</div>


<div class='section3'>
    <div class="container" id='section_content3'>

  <div class="row" >
    <div class="col-sm-12">
      <h3 class='sect2'>Our Protection Plans</h3>
    </div>
  </div>
</div>


  <div class="container" id='section_content4' >

  <div class="row" >
    <div class="col-sm-4" >
      <p class='plan_label'><i class="glyphicon glyphicon-ok-sign"></i>LITE</p>
      <p><i class="glyphicon glyphicon-remove"></i> No Discount on Bills</p>
      <p class="cost_para"><i class="glyphicon glyphicon-ok"></i> Free </p>
       <p><i class="glyphicon glyphicon-ok"></i> 30 Days Repair Warranty</p>
       <p><a href="/users/sign_up"><input type="button" value="Get Started"></a></p>
    </div>
    <div class="col-sm-4">
      <p class='plan_label'><i class="glyphicon glyphicon-ok-sign"></i>PREMIUM</p>
      <p><i class="glyphicon glyphicon-ok"></i> 10% Discount on Bills</p>
      <p class="cost_para"><i class="glyphicon glyphicon-ok"></i> &#8358;3,000 </p>
      <p> <i class="glyphicon glyphicon-ok"></i> 60 Days Repair Warranty</p>
      <p><a href="/users/login"><input type="button" value="Login Now" ></a></p>
    </div>
    <div class="col-sm-4">
      <p class='plan_label'><i class="glyphicon glyphicon-ok-sign"></i>BUSINESS</p>
      <p> <i class="glyphicon glyphicon-ok"></i> 20% Discount on Bills</p>
      <p class="cost_para"><i class="glyphicon glyphicon-ok"></i> &#8358;4,500 </p>
       <p> <i class="glyphicon glyphicon-ok"></i> 90 Days Repair Warranty</p>
       <p><a href="/users/login"><input type="button" value="Login Now"></a></p>
    </div>
<span class="divider" id="track_divider"></span>
  </div>

</div>



</div>

    <div class="container" id='section_content3'>
  <div class="row" >
    <div class="col-sm-12">
      <h3 class='sect_track2'><span class="glyphicon glyphicon-map-marker" style='color:#66b5ff'></span> Track Order</h3>
    </div>
</div>

</div>


<div class="container" id="section_content5">
  <div class="row" >
    <div class="col-sm-12" >
  <%= form_tag(track_order_orders_path,remote:'true',id:'track_form' ) do %> 
     <div class="form-group">    
        <div class="input-group input-group-lg"> 
  <%= text_field_tag(:order_number,"",placeholder:"Enter your unique order ID", required:true,class:"form-control") %>
    <span class="input-group-btn">
          <%= submit_tag("Track",class:"btn btn-info",id:'landing_track_bt' ) %>

      </span>
        </div>

      <%end%>

      </div>
      <p class="ajax3"><%=image_tag 'ajax2.gif', alt:'loading'%><br>Please wait...</p>

  </div>

</div>
<div class="divider" id="contact_divider"></div>
</div>
</div>

<div class="divider" id="contact_divider"></div>
<div class='contact_us'>
    <div class="container" id='section_content3'>
  <div class="row" >
    <div class="col-sm-12">
      <h3 class='sect_track2' tabindex="-1"><i class="glyphicon glyphicon-envelope" style='color:#66b5ff'></i> Contact Us</h3>

    </div>
</div>
</div>

  <div class="container" id='section_content6' >

  <div class="row" >
    <div class="col-sm-12" id='reach_us' >
      <h3> <i class="glyphicon glyphicon-thumbs-up" style='color:#66b5ff'></i> We'd love to hear from you. Drop us a line any time!</h3>
      
        <div class='error'></div>
        <%= simple_form_for  :feed, url:feed_index_path, remote:true do |f| %>      
  <%= f.input :name , as: :string , placeholder:"Alexander", required:true %>
<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <%= f.input :email , as: :email,  placeholder:"user@example.com" %>
  <%= f.input :mobile_no , as: :tel,  input_html:{ maxlength: 11}, placeholder:"Phone number" %>
  <%= f.input :message , as: :text, class:"form-control1 control3" , placeholder:"Type your comment here" , input_html:{ rows: '8' }%>
  <%= f.button :submit, "Send",id:'feed-btn',class:"btn btn-info btn-block" %>
  <%end%>
  <p class="ajax4"><%=image_tag 'ajax2.gif', alt:'loading'%><br>Please wait...</p>
    </div>
 
  </div>

</div>

  <div class="container" id='section_content6' >
  
  <div  id='contact_p'>
  <div class="row">
       <div class="col-sm-12">

      <p class="fb-like" data-href="https://www.facebook.com/gofixam" data-layout="standard" data-action="like" data-size="small" data-show-faces="false" data-share="true"></p>


    </div>
    </div>

  </div>
</div>
  </div>






<ul class="nav pull-right scroll-top">
  <li><a href="#" title="Scroll to top"><i class="glyphicon glyphicon-chevron-up"></i></a></li>
</ul>






</div>



<%= render 'shared/footer_scroll2'%>

</div>

