<div class='account_wrapper'>
    <div class="account_header">

      <%= render "account/account_navbar" %>

    </div>

    <div class="account_body">

        <div class="account_sub_body">
        helli

    <div class="row">
        <div class="col-sm-4" id='account_left'>

        <div id='myaccount_body_left'>
          <p><%=link_to "All Orders", orders_path,class:'inactive_account_link' %></p>
          <p><%=link_to "Pending Orders", pending_orders_path, class:'inactive_account_link'%></p>
          <p><%=link_to "Delivered Orders", delivered_orders_path, class:'inactive_account_link'%></p>
          <p><%=link_to "Cancelled Orders", cancelled_orders_path, class:'inactive_account_link'%></p>
          <p><%=link_to "Scheduled Orders", scheduled_orders_path, class:'inactive_account_link'%></p>
          <p><%=link_to "Place Order", place_order_orders_path, class:'active_account_link',id:'active_para'%></p>
        </div>


        </div>



        <div class="col-sm-8" id=' account_right'>

<%= render "error_success" %>

          <div id="myaccount_body">
          <div class="order_tag">
                <span>New Order</span>
              </div>
<%= simple_form_for(:user, url: account_path(current_user.first_name),:html=>{class:"form-book"}) do |f| %>

  <%= f.error_notification %>


<div class="form-group">
<div class="bio_label">First Name:</div>
       <%= f.text_field :first_name, required: true, class:"form-control",placeholder:"First Name" %>
 </div>




  <div class="form-actions">
    <%= f.submit  "Update Profile",class:"btn btn-primary" %>
  </div>




</div>

<% end %>






          </div>

        </div>

      </div>
      </div>


    </div>

    <div id="footer">
  <div class="container">
    <p class="text-muted">Copyright ©2016 KliqITal, Inc.</p>
  </div>
</div>

</div>

