<div class="admin_wrapper">

    <div class="admin-header">
      <%=render 'bookings/navbar' %>
    </div>

  <div class="container">

<h1>Places in <%= @area.area %></h1>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>Places</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @places.each do |place| %>
      <tr>
        <td><%= place.place %></td>
        <td><%= link_to 'Edit', edit_place_path(place) %></td>
        <td>
        	<%= link_to 'Delete Place', place,method: :delete,data: { confirm: 'Are you sure?' } %>

        </td>
        <td>&nbsp;</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>







<h2>Add a place:</h2>
<%= form_for([@area.state,@area.city,@area, @area.places.build]) do |f|%>
<p>
<%= f.label :place %><br />
<%= f.text_field :place %>
</p>
<p>
<%= f.submit %>
</p>
<% end %>

<%= link_to 'Edit', edit_area_path(@area) %> |
<%= link_to 'Back', city_path(@area.city) %>



</div>
</div>

<%=render "shared/footer_scroll"%>