<div class='account_wrapper'>
		<div class="account_header">

			<%= render "account_navbar" %>

		</div>

		<div class="account_body">

				<div class="account_sub_body">

		<div class="row">
  			<div class="col-md-3" id='account_left'>

  			<div id='myaccount_body_left'>
  				<p><%=link_to "Basic Information",info_account_index_path,class:'inactive_account_link' %></p>
  				<p><%=link_to "Change Password", change_password_account_index_path,class:'active_account_link', id:'active_para'%></p>
  				<p><%=link_to "Delete Account", delete_account_account_index_path,class:'inactive_account_link' %></p>

  			</div>


  			</div>



  			<div class="col-md-9" id=' account_right'>
<%= render "error_success" %>
  				<div id="myaccount_body">


<%= form_for(@user, :url => { :action => "update_password" },method: :patch,:html=>{class:"form-update"} ) do |f| %>


          <div class="order_tag">
                <span>Change Password</span>
              </div>


  <div class="form-group">
    <%= f.label :password, "Password" %>
    <% if current_user.has_password? %>
    <i> (leave it blank if you don't want to change it)</i>
    <% end -%>
    <br />
    <%= f.password_field :password, :autocomplete => "off"%>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <% if current_user.has_password? %>
  <div class="form-group">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password,:autocomplete => "off" %>
  </div>
<% end -%>

  <div class="form-actions">
    <%= f.submit "Change Password",class:"btn btn-primary" %>
  </div>
<% end %>

</div>






  				</div>

  			</div>

  		</div>
  		</div>

<%= render "shared/footer_scroll" %>

		</div>




