<% provide(:title, 'Cancel Account | Gofixam')%>
<div class='account_wrapper'>
		<div class="account_header">

			<%= render "account_navbar" %>

		</div>

		<div class="account_body">

				<div class="account_sub_body">

		<div class="row">
  			<div class="col-md-3" id='account_left'>
        <div id='myaccount_body_left' class="visible-lg visible-md visible-s">
          <p><%=link_to "Basic Information",info_account_index_path,class:'inactive_account_link' %></p>
          <p><%=link_to "Change Password", change_password_account_index_path,class:'inactive_account_link' %></p>
          <p><%=link_to "Delete Account", delete_account_account_index_path,class:'active_account_link', id:'active_para' %></p>

        </div>

        <select class="order_select_tag visible-xs" onchange="location = this.value" >
  <option value='/account/info'>My profile</option>
  <option value='/account/change_password'>Change Password</option>
  <option value='/account/delete_account' selected>Delete Account</option>
</select>

  			</div>



  			<div class="col-md-9" id=' account_right'>
<%= render "error_success" %>
  				<div id="myaccount_body">
<%= simple_form_for(:user, :url => { :action => "remove_user" }, :html=>{class:"form-update"},method: :delete) do |f| %>
<div id="myaccount_body">
              <div class="order_tag">
                <span>Delete Account</span>
              </div>
              <div class="items_count">
  <%= f.error_notification %>
<div class="form-group">
  		You may delete your account at any time. However, this action is irreversible.
 </div>
  <div class="form-actions">

    <%= f.submit "I UNDERSTAND,DELETE MY ACCOUNT", data: { confirm: "Are you sure?" },class:"btn btn-danger"  %>
  </div>




</div>

<% end %>






  				</div>

  			</div>

  		</div>
  		</div>



		</div>



<%= render "shared/footer_scroll" %>
