 <div class="subscribe_div">
<p class="ournew">Subscribe to Our News Letter</p>
<p>

<%= simple_form_for  :subscription, url:subscriptions_path, remote:true do |f| %>      
  <%= f.input :email , as: :email,  placeholder:"Your email address",label: false,required:true %>
  <%= f.button :submit, "Subscribe",id:'subscribe-btn',class:"btn btn-info" %> <%=image_tag 'ajax2.gif', alt:'loading',class:"ajax5"%>
  <%end%>

  <div class="subscribe_error"> </div>
  <div class="subscribe_success"> </div>
</p>
</div>

<div class="social_div">
<p>
 <a href="https://twitter.com/kliqitaltech" class="twitter-follow-button" data-show-count="true" data-size="large">Follow us on Twitter</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</p>

<p>

<div class="fb-page" data-href="https://web.facebook.com/kliqitaltech/" data-large-header="true" data-adapt-container-width="true"  data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/GofixamNigeria/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/GofixamNigeria/"></a></blockquote></div>

</p>

<div class="dont_miss">
	<span class="glyphicon glyphicon-pushpin"></span> DON'T MISS WHAT'S TRENDING
</div>

<% @posts2.each do |post|%>

<div class="row blog_smain_div">
 <div class="col-sm-12 ">

 <%=image_tag post.image,class:'img-thumbnail' %>


<div>

<%=link_to post.title,blog_path(post.url),class:'blogurl2' %>

</div>



 </div>

 </div>
                      
                                                                                               
 <%end%>





</div>