
<%= provide(:title, 'Gofixam | Blog')%>

<div>

<%=render "header_nav"%>


<div class="blog_body_outer container">
<div class="blog_body">
<div class="container">
<div class="row">
 <div class="col-sm-8 blog_left">

<p>Home | <span class='blogbodyhead'>Technology News</span></p>


<div>

<p>
	
<div class="overall_blog_heading"><span class='tech'>TECHNOLOGY</span> NEWS</div>
</p>




<% @posts.each do |post|%>

<div class="row blog_main_div">
 <div class="col-sm-4 ">

 <%=image_tag post.image,class:'img-thumbnail' %>


 </div>

  <div class="col-sm-8">

<div>

<%=link_to post.title,blog_path(post.url),class:'blogurl' %>

</div>

<div class="post_date">
	by Gofixam Staff, <%=post.created_at.strftime('%d %B %Y') %>
</div>

<div>
	<%=link_to post.category,"#",class:'blogcat' %>
</div>




 </div>

 </div>
                      
                                                                                               
 <%end%>







  




</div>
</div>
 <div class="col-sm-4 blog_right" >

<%= render 'blog_right'%>

</div>
</div>
</div>


</div>
</div>



<%= render 'shared/footer_scroll2'%>

</div>