
<%= provide(:title, 'Gofixam | Blog')%>

<div>

<%=render "header_nav"%>


<div class="blog_body_outer container">
<div class="blog_body">
<div class="container">
<div class="row">
 <div class="col-sm-8 blog_left">

<%= render 'head_tag' %>


<div>


<%= render 'latest_technology_tag' %>







<%= render 'blog_left'%>



  




</div>

<%= render 'pagination'%>


</div>
 <div class="col-sm-4 blog_right" >

<%= render 'blog_right'%>

</div>
</div>
</div>


</div>

</div>




<%= render 'shared/footer_scroll2'%>

</div>