<div class="admin_wrapper">

    <div class="admin-header">
      <%=render 'bookings/navbar' %>
    </div>

  <div class="container">



<h1>Areas in <%= @city.city %></h1>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>Areas</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @areas.each do |area| %>
      <tr>
        <td><%= area.area %></td>
        <td><%= link_to 'Add a Place', area %></td>
        <td><%= link_to 'Edit', edit_area_path(area) %></td>
        <td>
        	<%= link_to 'Delete City', area,method: :delete,data: { confirm: 'Are you sure?' } %>

        </td>

        
      </tr>
    <% end %>
  </tbody>
</table>

<br>







<h2>Add an area:</h2>
<%= form_for([@city.state,@city, @city.areas.build]) do |f|
%>
<p>
<%= f.label :area %><br />
<%= f.text_field :area %>
</p>
<p>
<%= f.submit %>
</p>
<% end %>

<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', state_path(@city.state) %>



</div>
</div>

<%=render "shared/footer_scroll"%>